<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
	Get help on the Draw Rectangle at the
	<a href="http://skyboiling.herokuapp.com/#help">Draw Rectangle help 	section<a>.
	To get help on this sample rectangle, see the 
	<a href="http://skyboiling.herokuapp.com/book"><em>Draw Rectangles Tutorial</em>book</a>
</p>
	
