<pre>
<%= Cowsay.say("Hello") %>
</pre>
<h1>Draw Rectangles!</h1>
<%= link_to 'My DrawRectangle', controller: 'rectangles' %>

<div class="center jumbotron">
	<h1>Welcome to the DrawRectangles</h1>

	<h2>
		This is the home page for the
		<a href="http://skyboiling.herokuapp.com/">DrawRectangles</a>
		Draw your favorite rectangles.
	</h2>

	<%=link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

#put a link of logo here